body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bookTitle{
    font-size: 16;
    font-weight:600;
    padding: 0;
    margin: 0;
}
.bookCard a{
    text-decoration: none;
    color: black;
}
